ServiceForMedialogia/Client/Service References/FibService/FibonacchiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.mlg.ru/24/14" elementFormDefault="qualified" targetNamespace="http://www.mlg.ru/24/14" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Clear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Fibonacchi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Equals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculationHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eqn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>