ServiceForMedialogia/Client/Service References/FibService/FibonacchiService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.mlg.ru/24/14" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mlg.ru/24/14" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mlg.ru/24/14/Imports">
      <xsd:import schemaLocation="http://localhost:2426/FibonacchiService.svc?xsd=xsd0" namespace="http://www.mlg.ru/24/14" />
      <xsd:import schemaLocation="http://localhost:2426/FibonacchiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFibonacchContract_Clear_InputMessage">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="IFibonacchContract_Fibonacchi_InputMessage">
    <wsdl:part name="parameters" element="tns:Fibonacchi" />
  </wsdl:message>
  <wsdl:message name="IFibonacchContract_Equals_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Equals" />
  </wsdl:message>
  <wsdl:message name="IFibonacchContract_CalculationHistory_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CalculationHistory" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IFibonacchContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Clear">
      <wsdl:input wsaw:Action="http://www.mlg.ru/24/14/IFibonacchContract/Clear" message="tns:IFibonacchContract_Clear_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Fibonacchi">
      <wsdl:input wsaw:Action="http://www.mlg.ru/24/14/IFibonacchContract/Fibonacchi" message="tns:IFibonacchContract_Fibonacchi_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Equals">
      <wsdl:output wsaw:Action="http://www.mlg.ru/24/14/IFibonacchContract/Equals" message="tns:IFibonacchContract_Equals_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CalculationHistory">
      <wsdl:output wsaw:Action="http://www.mlg.ru/24/14/IFibonacchContract/CalculationHistory" message="tns:IFibonacchContract_CalculationHistory_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>